{% extends "base.html" %}

{% block content %}
<div class="container"></div>
    <div class="v10_7">
        <div class="v12_12">

        </div>
        <span class="v12_14">Конструктор технических заданий по ГОСТ 19</span>
        <div class="v13_3">

        </div>
        <div class="v13_7">

        </div>
        <div class="v15_29">

        </div>
        <span class="v15_9">Общая информация</span>
        <span class="v15_10">Название проекта</span>
        <span class="v15_12">Описание</span>
        <span class="v15_47">Назначение разработки</span>
        <div class="v15_11"></div>
        <div class="v15_13"></div>
        <span class="v15_14">На какой стадии ваш проект?</span>
        <span class="v15_24">Этапы</span>
        <div class="v15_33">

        </div>
        <div class="v15_39">

        </div>
        <div class="v15_43">
        </div>
        <div class="v15_41">

        </div>
        <div class="v15_34">

        </div>
        <span class="v16_49">Общее</span>
        <span class="v16_51">Требования к программе</span>
        <span class="v16_66">Требования к программной документации</span>
        <span class="v15_36">Итог</span>
        <span class="v15_37">техническое задание</span>
        <span class="v15_40">технический проект</span>
        <span class="v15_45">внедрение</span>
        <span class="v15_42">рабочий проект</span>
        <span class="v15_38">эскизный проект</span>
        <div class="v16_52"></div>
        <span class="v16_53">Далее</span>
    </div>
</div>
{% endblock %}